<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SWE.6 - X - Map</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SWE.6 - X - Map</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/0082464a-9201-4869-af1d-88e464414d20.png" alt="SWE.6 - X - Map" usemap="#0082464a-9201-4869-af1d-88e464414d20map"/>
			   <map name="0082464a-9201-4869-af1d-88e464414d20map">
				  		<area shape="rect" coords="10,10,130,48" href="../views/b4a58a17-a562-4304-b735-3b37cc0d68d2.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="574,640,803,695" href="../elements/1e46e0dc-bace-4384-82fb-1cefcc8c1019.html"  target="element">
				  		<area shape="rect" coords="574,580,803,635" href="../elements/2338f3c2-1b8a-46ee-ad3a-a2d3df8b68ed.html"  target="element">
				  		<area shape="rect" coords="574,520,803,575" href="../elements/8cbc80b0-a79e-46c7-8a6a-2e73dab3a809.html"  target="element">
				  		<area shape="rect" coords="574,460,803,515" href="../elements/58a99b56-eb5d-4332-9f5b-c1128f45a835.html"  target="element">
				  		<area shape="rect" coords="574,392,803,447" href="../elements/d26bc51d-fdd8-4312-acea-e0753068a245.html"  target="element">
				  		<area shape="rect" coords="574,332,803,387" href="../elements/0c3307cf-3511-41e6-8fcf-02297a2a215a.html"  target="element">
				  		<area shape="rect" coords="574,272,803,327" href="../elements/9b28e794-249e-47c0-a941-10721e69dae5.html"  target="element">
				  		<area shape="rect" coords="574,212,803,267" href="../elements/d94ee067-4cee-4bb8-990b-ffeb30e158b1.html"  target="element">
				  		<area shape="rect" coords="574,152,803,207" href="../elements/60f75e3f-aba6-4550-b2d9-e8fd7307a2f5.html"  target="element">
				  		<area shape="rect" coords="574,92,803,147" href="../elements/d9c4f795-675e-4336-99ed-f9a5cf3e2ee8.html"  target="element">
				  		<area shape="rect" coords="574,32,803,87" href="../elements/f967827a-513b-450d-96bc-19db06c4a433.html"  target="element">
				  				<area shape="rect" coords="154,395,311,450" href="../elements/id-SWE.6.BP6.html"  target="element">
				  				<area shape="rect" coords="154,455,311,510" href="../elements/id-SWE.6.BP7.html"  target="element">
				  				<area shape="rect" coords="154,335,311,390" href="../elements/id-SWE.6.BP5.html"  target="element">
				  				<area shape="rect" coords="154,275,311,330" href="../elements/id-SWE.6.BP4.html"  target="element">
				  				<area shape="rect" coords="154,215,311,270" href="../elements/id-SWE.6.BP3.html"  target="element">
				  				<area shape="rect" coords="154,155,311,210" href="../elements/id-SWE.6.BP2.html"  target="element">
				  				<area shape="rect" coords="154,95,311,150" href="../elements/id-SWE.6.BP1.html"  target="element">

				  		<area shape="rect" coords="142,47,335,672" href="../elements/89d9bf2f-44d3-4f33-873b-a4340f6bf593.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/89d9bf2f-44d3-4f33-873b-a4340f6bf593.html" target="element"> SWE.6 Software Qualification Test </a> </td>
											    <td> <a href="../elements/89d9bf2f-44d3-4f33-873b-a4340f6bf593.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.6.BP1.html" target="element"> SWE.6.BP1:  Develop  software  qualification  test  strategy  including  </a> </td>
													    <td> <a href="../elements/id-SWE.6.BP1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.6.BP2.html" target="element"> SWE.6.BP2:  Develop  specification  for  software  qualification  test. </a> </td>
													    <td> <a href="../elements/id-SWE.6.BP2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.6.BP3.html" target="element"> SWE.6.BP3: Select test cases. </a> </td>
													    <td> <a href="../elements/id-SWE.6.BP3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.6.BP4.html" target="element"> SWE.6.BP4: Test integrated software. </a> </td>
													    <td> <a href="../elements/id-SWE.6.BP4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.6.BP5.html" target="element"> SWE.6.BP5: Establish bidirectional traceability. </a> </td>
													    <td> <a href="../elements/id-SWE.6.BP5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.6.BP7.html" target="element"> SWE.6.BP7:  Summarize  and  communicate  results. </a> </td>
													    <td> <a href="../elements/id-SWE.6.BP7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.6.BP6.html" target="element"> SWE.6.BP6: Ensure consistency. </a> </td>
													    <td> <a href="../elements/id-SWE.6.BP6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/f967827a-513b-450d-96bc-19db06c4a433.html" target="element"> GP 2.1.1 Identify the objectives for the performance of the process. </a> </td>
											    <td> <a href="../elements/f967827a-513b-450d-96bc-19db06c4a433.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d9c4f795-675e-4336-99ed-f9a5cf3e2ee8.html" target="element"> GP 2.1.2 Plan the performance of the process to fulfill the identified objectives. </a> </td>
											    <td> <a href="../elements/d9c4f795-675e-4336-99ed-f9a5cf3e2ee8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/60f75e3f-aba6-4550-b2d9-e8fd7307a2f5.html" target="element"> GP 2.1.3 Monitor the performance of the process against the plans. </a> </td>
											    <td> <a href="../elements/60f75e3f-aba6-4550-b2d9-e8fd7307a2f5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d94ee067-4cee-4bb8-990b-ffeb30e158b1.html" target="element"> GP 2.1.4 Adjust the performance of the process. </a> </td>
											    <td> <a href="../elements/d94ee067-4cee-4bb8-990b-ffeb30e158b1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9b28e794-249e-47c0-a941-10721e69dae5.html" target="element"> GP 2.1.5 Define responsibilities and authorities for performing the process.  </a> </td>
											    <td> <a href="../elements/9b28e794-249e-47c0-a941-10721e69dae5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0c3307cf-3511-41e6-8fcf-02297a2a215a.html" target="element"> GP 2.1.6 Identify, prepare, and make available resources to perform the process according to plan.  </a> </td>
											    <td> <a href="../elements/0c3307cf-3511-41e6-8fcf-02297a2a215a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d26bc51d-fdd8-4312-acea-e0753068a245.html" target="element"> GP 2.1.7 Manage  the  interfaces  between  involved  parties. </a> </td>
											    <td> <a href="../elements/d26bc51d-fdd8-4312-acea-e0753068a245.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/58a99b56-eb5d-4332-9f5b-c1128f45a835.html" target="element"> GP 2.2.1 Define  the  requirements  for  the  work  products.  </a> </td>
											    <td> <a href="../elements/58a99b56-eb5d-4332-9f5b-c1128f45a835.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8cbc80b0-a79e-46c7-8a6a-2e73dab3a809.html" target="element"> GP 2.2.2 Define the requirements for documentation and control of the work products. </a> </td>
											    <td> <a href="../elements/8cbc80b0-a79e-46c7-8a6a-2e73dab3a809.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2338f3c2-1b8a-46ee-ad3a-a2d3df8b68ed.html" target="element"> GP 2.2.3 Identify,  document  and  control  the  work  products. </a> </td>
											    <td> <a href="../elements/2338f3c2-1b8a-46ee-ad3a-a2d3df8b68ed.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1e46e0dc-bace-4384-82fb-1cefcc8c1019.html" target="element"> GP 2.2.4 Review  and  adjust  work  products  to  meet  the  defined requirements. </a> </td>
											    <td> <a href="../elements/1e46e0dc-bace-4384-82fb-1cefcc8c1019.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/b4a58a17-a562-4304-b735-3b37cc0d68d2.html" target="view"> ASPICE - PRJ X - Map </a> </td>
											    <td> <a href="../views/b4a58a17-a562-4304-b735-3b37cc0d68d2.html" target="view" class="i18n-viewpoint-motivation"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d73fa4ed-0f5a-4b68-b952-5b554c77a934.html" target="element">  </a> </td>
																		<td> <a href="../elements/d73fa4ed-0f5a-4b68-b952-5b554c77a934.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/89d9bf2f-44d3-4f33-873b-a4340f6bf593.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/id-SWE.6.BP1.html" target="element"> SWE.6.BP1:  Develop  software  qualification  test  strategy  including  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/67f92351-3b1d-4b32-b745-00619c63869b.html" target="element">  </a> </td>
																		<td> <a href="../elements/67f92351-3b1d-4b32-b745-00619c63869b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/89d9bf2f-44d3-4f33-873b-a4340f6bf593.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/id-SWE.6.BP2.html" target="element"> SWE.6.BP2:  Develop  specification  for  software  qualification  test. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0bb2b732-1fe0-4b45-a0e6-e494594c3949.html" target="element">  </a> </td>
																		<td> <a href="../elements/0bb2b732-1fe0-4b45-a0e6-e494594c3949.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/89d9bf2f-44d3-4f33-873b-a4340f6bf593.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/id-SWE.6.BP3.html" target="element"> SWE.6.BP3: Select test cases. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/013e7901-b8f8-4da0-8c80-ec90d0a8a109.html" target="element">  </a> </td>
																		<td> <a href="../elements/013e7901-b8f8-4da0-8c80-ec90d0a8a109.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/89d9bf2f-44d3-4f33-873b-a4340f6bf593.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/id-SWE.6.BP4.html" target="element"> SWE.6.BP4: Test integrated software. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6fc875ad-fdd6-4bf2-93ff-06c3a0470a28.html" target="element">  </a> </td>
																		<td> <a href="../elements/6fc875ad-fdd6-4bf2-93ff-06c3a0470a28.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/89d9bf2f-44d3-4f33-873b-a4340f6bf593.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/id-SWE.6.BP5.html" target="element"> SWE.6.BP5: Establish bidirectional traceability. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1eec4cb9-a1fb-4c6a-98a3-740bcfffcb94.html" target="element">  </a> </td>
																		<td> <a href="../elements/1eec4cb9-a1fb-4c6a-98a3-740bcfffcb94.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/89d9bf2f-44d3-4f33-873b-a4340f6bf593.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/id-SWE.6.BP7.html" target="element"> SWE.6.BP7:  Summarize  and  communicate  results. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/feb12a63-9964-40fa-9485-6fb58e1518f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/feb12a63-9964-40fa-9485-6fb58e1518f6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/89d9bf2f-44d3-4f33-873b-a4340f6bf593.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/id-SWE.6.BP6.html" target="element"> SWE.6.BP6: Ensure consistency. </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>