<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SWE.1 - X - Map</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SWE.1 - X - Map</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/0dedfc0a-9de2-4a4c-90a9-12c06067d9eb.png" alt="SWE.1 - X - Map" usemap="#0dedfc0a-9de2-4a4c-90a9-12c06067d9ebmap"/>
			   <map name="0dedfc0a-9de2-4a4c-90a9-12c06067d9ebmap">
				  		<area shape="rect" coords="427,122,547,177" href="../elements/id-5a2c9acd483d43bface0b18f9d9cfdfc.html"  target="element">
				  		<area shape="rect" coords="718,502,947,557" href="../elements/58a99b56-eb5d-4332-9f5b-c1128f45a835.html"  target="element">
				  		<area shape="rect" coords="718,622,947,677" href="../elements/2338f3c2-1b8a-46ee-ad3a-a2d3df8b68ed.html"  target="element">
				  		<area shape="rect" coords="718,682,947,737" href="../elements/1e46e0dc-bace-4384-82fb-1cefcc8c1019.html"  target="element">
				  		<area shape="rect" coords="718,562,947,617" href="../elements/8cbc80b0-a79e-46c7-8a6a-2e73dab3a809.html"  target="element">
				  		<area shape="rect" coords="718,70,947,125" href="../elements/f967827a-513b-450d-96bc-19db06c4a433.html"  target="element">
				  		<area shape="rect" coords="718,130,947,185" href="../elements/d9c4f795-675e-4336-99ed-f9a5cf3e2ee8.html"  target="element">
				  		<area shape="rect" coords="718,190,947,245" href="../elements/60f75e3f-aba6-4550-b2d9-e8fd7307a2f5.html"  target="element">
				  		<area shape="rect" coords="718,370,947,425" href="../elements/0c3307cf-3511-41e6-8fcf-02297a2a215a.html"  target="element">
				  		<area shape="rect" coords="718,310,947,365" href="../elements/9b28e794-249e-47c0-a941-10721e69dae5.html"  target="element">
				  		<area shape="rect" coords="718,430,947,485" href="../elements/d26bc51d-fdd8-4312-acea-e0753068a245.html"  target="element">
				  		<area shape="rect" coords="718,250,947,305" href="../elements/d94ee067-4cee-4bb8-990b-ffeb30e158b1.html"  target="element">
				  		<area shape="rect" coords="10,10,130,47" href="../views/b4a58a17-a562-4304-b735-3b37cc0d68d2.html"  target="view">
				      <!-- Other diagram objects -->
				  				<area shape="rect" coords="166,238,335,293" href="../elements/id-SWE.1.BP3.html"  target="element">
				  				<area shape="rect" coords="166,538,335,593" href="../elements/id-SWE.1.BP8.html"  target="element">
				  				<area shape="rect" coords="166,478,335,533" href="../elements/id-SWE.1.BP7.html"  target="element">
				  				<area shape="rect" coords="166,418,335,473" href="../elements/id-SWE.1.BP6.html"  target="element">
				  				<area shape="rect" coords="166,358,335,413" href="../elements/id-SWE.1.BP5.html"  target="element">
				  				<area shape="rect" coords="166,298,335,353" href="../elements/id-SWE.1.BP4.html"  target="element">
				  				<area shape="rect" coords="166,118,335,173" href="../elements/id-SWE.1.BP1.html"  target="element">
				  				<area shape="rect" coords="166,178,335,233" href="../elements/id-SWE.1.BP2.html"  target="element">

				  		<area shape="rect" coords="154,58,359,719" href="../elements/241de845-f999-4e4f-8d9a-da210b958a1c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/241de845-f999-4e4f-8d9a-da210b958a1c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
											    <td> <a href="../elements/241de845-f999-4e4f-8d9a-da210b958a1c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.1.BP2.html" target="element"> SWE.1.BP2:  Structure  software  requirements. </a> </td>
													    <td> <a href="../elements/id-SWE.1.BP2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.1.BP1.html" target="element"> SWE.1.BP1:  Specify  software  requirements. </a> </td>
													    <td> <a href="../elements/id-SWE.1.BP1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.1.BP4.html" target="element"> SWE.1.BP4:  Analyze  the  impact  on  the  operating  environment. </a> </td>
													    <td> <a href="../elements/id-SWE.1.BP4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.1.BP5.html" target="element"> SWE.1.BP5:  Develop  verification  criteria. </a> </td>
													    <td> <a href="../elements/id-SWE.1.BP5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.1.BP6.html" target="element"> SWE.1.BP6: Establish bidirectional traceability. </a> </td>
													    <td> <a href="../elements/id-SWE.1.BP6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.1.BP7.html" target="element"> SWE.1.BP7: Ensure consistency. </a> </td>
													    <td> <a href="../elements/id-SWE.1.BP7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.1.BP8.html" target="element"> SWE.1.BP8:  Communicate  agreed  software  requirements. </a> </td>
													    <td> <a href="../elements/id-SWE.1.BP8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.1.BP3.html" target="element"> SWE.1.BP3:  Analyze  software  requirements. </a> </td>
													    <td> <a href="../elements/id-SWE.1.BP3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../views/b4a58a17-a562-4304-b735-3b37cc0d68d2.html" target="view"> ASPICE - PRJ X - Map </a> </td>
											    <td> <a href="../views/b4a58a17-a562-4304-b735-3b37cc0d68d2.html" target="view" class="i18n-viewpoint-motivation"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/d94ee067-4cee-4bb8-990b-ffeb30e158b1.html" target="element"> GP 2.1.4 Adjust the performance of the process. </a> </td>
											    <td> <a href="../elements/d94ee067-4cee-4bb8-990b-ffeb30e158b1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d26bc51d-fdd8-4312-acea-e0753068a245.html" target="element"> GP 2.1.7 Manage  the  interfaces  between  involved  parties. </a> </td>
											    <td> <a href="../elements/d26bc51d-fdd8-4312-acea-e0753068a245.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9b28e794-249e-47c0-a941-10721e69dae5.html" target="element"> GP 2.1.5 Define responsibilities and authorities for performing the process.  </a> </td>
											    <td> <a href="../elements/9b28e794-249e-47c0-a941-10721e69dae5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0c3307cf-3511-41e6-8fcf-02297a2a215a.html" target="element"> GP 2.1.6 Identify, prepare, and make available resources to perform the process according to plan.  </a> </td>
											    <td> <a href="../elements/0c3307cf-3511-41e6-8fcf-02297a2a215a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/60f75e3f-aba6-4550-b2d9-e8fd7307a2f5.html" target="element"> GP 2.1.3 Monitor the performance of the process against the plans. </a> </td>
											    <td> <a href="../elements/60f75e3f-aba6-4550-b2d9-e8fd7307a2f5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d9c4f795-675e-4336-99ed-f9a5cf3e2ee8.html" target="element"> GP 2.1.2 Plan the performance of the process to fulfill the identified objectives. </a> </td>
											    <td> <a href="../elements/d9c4f795-675e-4336-99ed-f9a5cf3e2ee8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f967827a-513b-450d-96bc-19db06c4a433.html" target="element"> GP 2.1.1 Identify the objectives for the performance of the process. </a> </td>
											    <td> <a href="../elements/f967827a-513b-450d-96bc-19db06c4a433.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8cbc80b0-a79e-46c7-8a6a-2e73dab3a809.html" target="element"> GP 2.2.2 Define the requirements for documentation and control of the work products. </a> </td>
											    <td> <a href="../elements/8cbc80b0-a79e-46c7-8a6a-2e73dab3a809.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1e46e0dc-bace-4384-82fb-1cefcc8c1019.html" target="element"> GP 2.2.4 Review  and  adjust  work  products  to  meet  the  defined requirements. </a> </td>
											    <td> <a href="../elements/1e46e0dc-bace-4384-82fb-1cefcc8c1019.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2338f3c2-1b8a-46ee-ad3a-a2d3df8b68ed.html" target="element"> GP 2.2.3 Identify,  document  and  control  the  work  products. </a> </td>
											    <td> <a href="../elements/2338f3c2-1b8a-46ee-ad3a-a2d3df8b68ed.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/58a99b56-eb5d-4332-9f5b-c1128f45a835.html" target="element"> GP 2.2.1 Define  the  requirements  for  the  work  products.  </a> </td>
											    <td> <a href="../elements/58a99b56-eb5d-4332-9f5b-c1128f45a835.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5a2c9acd483d43bface0b18f9d9cfdfc.html" target="element"> Team Sample Process Name </a> </td>
											    <td> <a href="../elements/id-5a2c9acd483d43bface0b18f9d9cfdfc.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d9bde70c-7ba0-4318-a3a7-f1ffa16d83af.html" target="element">  </a> </td>
																		<td> <a href="../elements/d9bde70c-7ba0-4318-a3a7-f1ffa16d83af.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/241de845-f999-4e4f-8d9a-da210b958a1c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/id-SWE.1.BP2.html" target="element"> SWE.1.BP2:  Structure  software  requirements. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/066aeb67-4f1e-4b74-8b87-a5479a70155e.html" target="element">  </a> </td>
																		<td> <a href="../elements/066aeb67-4f1e-4b74-8b87-a5479a70155e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/241de845-f999-4e4f-8d9a-da210b958a1c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/id-SWE.1.BP1.html" target="element"> SWE.1.BP1:  Specify  software  requirements. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3071f7f2-d15c-418d-bb33-658d160bd975.html" target="element">  </a> </td>
																		<td> <a href="../elements/3071f7f2-d15c-418d-bb33-658d160bd975.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/241de845-f999-4e4f-8d9a-da210b958a1c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/id-SWE.1.BP4.html" target="element"> SWE.1.BP4:  Analyze  the  impact  on  the  operating  environment. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/93d280fb-1329-4109-a2c4-fb8ac3a328ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/93d280fb-1329-4109-a2c4-fb8ac3a328ac.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/241de845-f999-4e4f-8d9a-da210b958a1c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/id-SWE.1.BP5.html" target="element"> SWE.1.BP5:  Develop  verification  criteria. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5b74427f-3863-41ac-9107-2e1c5b745017.html" target="element">  </a> </td>
																		<td> <a href="../elements/5b74427f-3863-41ac-9107-2e1c5b745017.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/241de845-f999-4e4f-8d9a-da210b958a1c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/id-SWE.1.BP6.html" target="element"> SWE.1.BP6: Establish bidirectional traceability. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2acf3d8e-0d8d-4352-ad2a-0fc36f341b74.html" target="element">  </a> </td>
																		<td> <a href="../elements/2acf3d8e-0d8d-4352-ad2a-0fc36f341b74.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/241de845-f999-4e4f-8d9a-da210b958a1c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/id-SWE.1.BP7.html" target="element"> SWE.1.BP7: Ensure consistency. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eeda2237-142f-40a3-8a20-d2bf47b753af.html" target="element">  </a> </td>
																		<td> <a href="../elements/eeda2237-142f-40a3-8a20-d2bf47b753af.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/241de845-f999-4e4f-8d9a-da210b958a1c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/id-SWE.1.BP8.html" target="element"> SWE.1.BP8:  Communicate  agreed  software  requirements. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b1002309-0805-41d3-8b87-cbc186a318bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/b1002309-0805-41d3-8b87-cbc186a318bf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/241de845-f999-4e4f-8d9a-da210b958a1c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/id-SWE.1.BP3.html" target="element"> SWE.1.BP3:  Analyze  software  requirements. </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-ad94ad5ffdd84a1ca94a69f2caae064f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad94ad5ffdd84a1ca94a69f2caae064f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-5a2c9acd483d43bface0b18f9d9cfdfc.html" target="element"> Team Sample Process Name </a> </td>
																		<td> <a href="../elements/id-SWE.1.BP1.html" target="element"> SWE.1.BP1:  Specify  software  requirements. </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>