<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>MAN.3 - X - Map</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>MAN.3 - X - Map</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/68444e02-d343-4a13-b4a8-9f26ca9c4bcd.png" alt="MAN.3 - X - Map" usemap="#68444e02-d343-4a13-b4a8-9f26ca9c4bcdmap"/>
			   <map name="68444e02-d343-4a13-b4a8-9f26ca9c4bcdmap">
				  		<area shape="rect" coords="658,550,887,605" href="../elements/8cbc80b0-a79e-46c7-8a6a-2e73dab3a809.html"  target="element">
				  		<area shape="rect" coords="658,490,887,545" href="../elements/58a99b56-eb5d-4332-9f5b-c1128f45a835.html"  target="element">
				  		<area shape="rect" coords="658,670,887,725" href="../elements/1e46e0dc-bace-4384-82fb-1cefcc8c1019.html"  target="element">
				  		<area shape="rect" coords="658,610,887,665" href="../elements/2338f3c2-1b8a-46ee-ad3a-a2d3df8b68ed.html"  target="element">
				  		<area shape="rect" coords="658,118,887,173" href="../elements/d9c4f795-675e-4336-99ed-f9a5cf3e2ee8.html"  target="element">
				  		<area shape="rect" coords="658,58,887,113" href="../elements/f967827a-513b-450d-96bc-19db06c4a433.html"  target="element">
				  		<area shape="rect" coords="658,418,887,473" href="../elements/d26bc51d-fdd8-4312-acea-e0753068a245.html"  target="element">
				  		<area shape="rect" coords="658,358,887,413" href="../elements/0c3307cf-3511-41e6-8fcf-02297a2a215a.html"  target="element">
				  		<area shape="rect" coords="658,238,887,293" href="../elements/d94ee067-4cee-4bb8-990b-ffeb30e158b1.html"  target="element">
				  		<area shape="rect" coords="658,178,887,233" href="../elements/60f75e3f-aba6-4550-b2d9-e8fd7307a2f5.html"  target="element">
				  		<area shape="rect" coords="658,298,887,353" href="../elements/9b28e794-249e-47c0-a941-10721e69dae5.html"  target="element">
				  		<area shape="rect" coords="10,10,130,47" href="../views/b4a58a17-a562-4304-b735-3b37cc0d68d2.html"  target="view">
				      <!-- Other diagram objects -->
				  				<area shape="rect" coords="202,177,395,232" href="../elements/id-MAN.3.BP2.html"  target="element">
				  				<area shape="rect" coords="202,535,395,590" href="../elements/id-MAN.3.BP8.html"  target="element">
				  				<area shape="rect" coords="202,415,395,470" href="../elements/id-MAN.3.BP6.html"  target="element">
				  				<area shape="rect" coords="202,475,395,530" href="../elements/id-MAN.3.BP7.html"  target="element">
				  				<area shape="rect" coords="202,655,395,710" href="../elements/id-MAN.3.BP10.html"  target="element">
				  				<area shape="rect" coords="202,355,395,410" href="../elements/id-MAN.3.BP5.html"  target="element">
				  				<area shape="rect" coords="202,595,395,650" href="../elements/id-MAN.3.BP9.html"  target="element">
				  				<area shape="rect" coords="202,115,395,170" href="../elements/id-MAN.3.BP1.html"  target="element">
				  				<area shape="rect" coords="202,235,395,290" href="../elements/id-MAN.3.BP3.html"  target="element">
				  				<area shape="rect" coords="202,295,395,350" href="../elements/id-MAN.3.BP4.html"  target="element">

				  		<area shape="rect" coords="178,58,431,743" href="../elements/2f202723-bdb4-42df-a0b2-b3c05795f75d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/2f202723-bdb4-42df-a0b2-b3c05795f75d.html" target="element"> MAN.3 Project Manegement </a> </td>
											    <td> <a href="../elements/2f202723-bdb4-42df-a0b2-b3c05795f75d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-MAN.3.BP4.html" target="element"> MAN.3.BP4:  Define,  monitor  and  adjust  project  activities. </a> </td>
													    <td> <a href="../elements/id-MAN.3.BP4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-MAN.3.BP3.html" target="element"> MAN.3.BP3: Evaluate feasibility of the project. </a> </td>
													    <td> <a href="../elements/id-MAN.3.BP3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-MAN.3.BP1.html" target="element"> MAN.3.BP1:  Define  the  scope  of  work. </a> </td>
													    <td> <a href="../elements/id-MAN.3.BP1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-MAN.3.BP9.html" target="element"> MAN.3.BP9: Ensure consistency. </a> </td>
													    <td> <a href="../elements/id-MAN.3.BP9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-MAN.3.BP5.html" target="element"> MAN.3.BP5: Define, monitor and adjust project estimates and resources </a> </td>
													    <td> <a href="../elements/id-MAN.3.BP5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-MAN.3.BP10.html" target="element"> MAN.3.BP10:  Review  and  report  progress  of  the  project. </a> </td>
													    <td> <a href="../elements/id-MAN.3.BP10.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-MAN.3.BP7.html" target="element"> MAN.3.BP7: Identify, monitor and adjust project interfaces and agreed commitments </a> </td>
													    <td> <a href="../elements/id-MAN.3.BP7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-MAN.3.BP6.html" target="element"> MAN.3.BP6: Ensure required skills, knowledge, and experience. </a> </td>
													    <td> <a href="../elements/id-MAN.3.BP6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-MAN.3.BP8.html" target="element"> MAN.3.BP8:  Define,  monitor  and  adjust  project  schedule. </a> </td>
													    <td> <a href="../elements/id-MAN.3.BP8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-MAN.3.BP2.html" target="element"> MAN.3.BP2: Define project life cycle. </a> </td>
													    <td> <a href="../elements/id-MAN.3.BP2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../views/b4a58a17-a562-4304-b735-3b37cc0d68d2.html" target="view"> ASPICE - PRJ X - Map </a> </td>
											    <td> <a href="../views/b4a58a17-a562-4304-b735-3b37cc0d68d2.html" target="view" class="i18n-viewpoint-motivation"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/9b28e794-249e-47c0-a941-10721e69dae5.html" target="element"> GP 2.1.5 Define responsibilities and authorities for performing the process.  </a> </td>
											    <td> <a href="../elements/9b28e794-249e-47c0-a941-10721e69dae5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/60f75e3f-aba6-4550-b2d9-e8fd7307a2f5.html" target="element"> GP 2.1.3 Monitor the performance of the process against the plans. </a> </td>
											    <td> <a href="../elements/60f75e3f-aba6-4550-b2d9-e8fd7307a2f5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d94ee067-4cee-4bb8-990b-ffeb30e158b1.html" target="element"> GP 2.1.4 Adjust the performance of the process. </a> </td>
											    <td> <a href="../elements/d94ee067-4cee-4bb8-990b-ffeb30e158b1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0c3307cf-3511-41e6-8fcf-02297a2a215a.html" target="element"> GP 2.1.6 Identify, prepare, and make available resources to perform the process according to plan.  </a> </td>
											    <td> <a href="../elements/0c3307cf-3511-41e6-8fcf-02297a2a215a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d26bc51d-fdd8-4312-acea-e0753068a245.html" target="element"> GP 2.1.7 Manage  the  interfaces  between  involved  parties. </a> </td>
											    <td> <a href="../elements/d26bc51d-fdd8-4312-acea-e0753068a245.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f967827a-513b-450d-96bc-19db06c4a433.html" target="element"> GP 2.1.1 Identify the objectives for the performance of the process. </a> </td>
											    <td> <a href="../elements/f967827a-513b-450d-96bc-19db06c4a433.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d9c4f795-675e-4336-99ed-f9a5cf3e2ee8.html" target="element"> GP 2.1.2 Plan the performance of the process to fulfill the identified objectives. </a> </td>
											    <td> <a href="../elements/d9c4f795-675e-4336-99ed-f9a5cf3e2ee8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2338f3c2-1b8a-46ee-ad3a-a2d3df8b68ed.html" target="element"> GP 2.2.3 Identify,  document  and  control  the  work  products. </a> </td>
											    <td> <a href="../elements/2338f3c2-1b8a-46ee-ad3a-a2d3df8b68ed.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1e46e0dc-bace-4384-82fb-1cefcc8c1019.html" target="element"> GP 2.2.4 Review  and  adjust  work  products  to  meet  the  defined requirements. </a> </td>
											    <td> <a href="../elements/1e46e0dc-bace-4384-82fb-1cefcc8c1019.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/58a99b56-eb5d-4332-9f5b-c1128f45a835.html" target="element"> GP 2.2.1 Define  the  requirements  for  the  work  products.  </a> </td>
											    <td> <a href="../elements/58a99b56-eb5d-4332-9f5b-c1128f45a835.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8cbc80b0-a79e-46c7-8a6a-2e73dab3a809.html" target="element"> GP 2.2.2 Define the requirements for documentation and control of the work products. </a> </td>
											    <td> <a href="../elements/8cbc80b0-a79e-46c7-8a6a-2e73dab3a809.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f72f69f8-f80d-4e1d-980a-f40addb14895.html" target="element">  </a> </td>
																		<td> <a href="../elements/f72f69f8-f80d-4e1d-980a-f40addb14895.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2f202723-bdb4-42df-a0b2-b3c05795f75d.html" target="element"> MAN.3 Project Manegement </a> </td>
																		<td> <a href="../elements/id-MAN.3.BP10.html" target="element"> MAN.3.BP10:  Review  and  report  progress  of  the  project. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/adddbd40-0010-4b5c-a928-0b5d72a9547d.html" target="element">  </a> </td>
																		<td> <a href="../elements/adddbd40-0010-4b5c-a928-0b5d72a9547d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2f202723-bdb4-42df-a0b2-b3c05795f75d.html" target="element"> MAN.3 Project Manegement </a> </td>
																		<td> <a href="../elements/id-MAN.3.BP1.html" target="element"> MAN.3.BP1:  Define  the  scope  of  work. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4673fc8b-fee3-4398-9fe4-ccdf335138f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/4673fc8b-fee3-4398-9fe4-ccdf335138f6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2f202723-bdb4-42df-a0b2-b3c05795f75d.html" target="element"> MAN.3 Project Manegement </a> </td>
																		<td> <a href="../elements/id-MAN.3.BP2.html" target="element"> MAN.3.BP2: Define project life cycle. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b6c4c9ce-b4e6-4ce0-8b85-8d5e37a33fcb.html" target="element">  </a> </td>
																		<td> <a href="../elements/b6c4c9ce-b4e6-4ce0-8b85-8d5e37a33fcb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2f202723-bdb4-42df-a0b2-b3c05795f75d.html" target="element"> MAN.3 Project Manegement </a> </td>
																		<td> <a href="../elements/id-MAN.3.BP3.html" target="element"> MAN.3.BP3: Evaluate feasibility of the project. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ba88b3b4-f82c-4b30-b39f-97a35639352d.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba88b3b4-f82c-4b30-b39f-97a35639352d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2f202723-bdb4-42df-a0b2-b3c05795f75d.html" target="element"> MAN.3 Project Manegement </a> </td>
																		<td> <a href="../elements/id-MAN.3.BP4.html" target="element"> MAN.3.BP4:  Define,  monitor  and  adjust  project  activities. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/63fd474b-8747-48a7-a65b-ed6dbd9ad857.html" target="element">  </a> </td>
																		<td> <a href="../elements/63fd474b-8747-48a7-a65b-ed6dbd9ad857.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2f202723-bdb4-42df-a0b2-b3c05795f75d.html" target="element"> MAN.3 Project Manegement </a> </td>
																		<td> <a href="../elements/id-MAN.3.BP5.html" target="element"> MAN.3.BP5: Define, monitor and adjust project estimates and resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/223b440f-3300-424d-8ecb-399a910ee9de.html" target="element">  </a> </td>
																		<td> <a href="../elements/223b440f-3300-424d-8ecb-399a910ee9de.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2f202723-bdb4-42df-a0b2-b3c05795f75d.html" target="element"> MAN.3 Project Manegement </a> </td>
																		<td> <a href="../elements/id-MAN.3.BP6.html" target="element"> MAN.3.BP6: Ensure required skills, knowledge, and experience. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/81694ab3-d32c-4a9c-8163-f93df17a77b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/81694ab3-d32c-4a9c-8163-f93df17a77b5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2f202723-bdb4-42df-a0b2-b3c05795f75d.html" target="element"> MAN.3 Project Manegement </a> </td>
																		<td> <a href="../elements/id-MAN.3.BP7.html" target="element"> MAN.3.BP7: Identify, monitor and adjust project interfaces and agreed commitments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/984075a5-a9cb-4d0f-9994-ecfad394f813.html" target="element">  </a> </td>
																		<td> <a href="../elements/984075a5-a9cb-4d0f-9994-ecfad394f813.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2f202723-bdb4-42df-a0b2-b3c05795f75d.html" target="element"> MAN.3 Project Manegement </a> </td>
																		<td> <a href="../elements/id-MAN.3.BP8.html" target="element"> MAN.3.BP8:  Define,  monitor  and  adjust  project  schedule. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c4f81af0-d07e-40a1-9ba0-7769388b41a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4f81af0-d07e-40a1-9ba0-7769388b41a9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2f202723-bdb4-42df-a0b2-b3c05795f75d.html" target="element"> MAN.3 Project Manegement </a> </td>
																		<td> <a href="../elements/id-MAN.3.BP9.html" target="element"> MAN.3.BP9: Ensure consistency. </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>