<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SWE.4 - X - Map</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SWE.4 - X - Map</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8ef4d6fd-aefe-41c7-b91a-9e4fa7aa1dd1.png" alt="SWE.4 - X - Map" usemap="#8ef4d6fd-aefe-41c7-b91a-9e4fa7aa1dd1map"/>
			   <map name="8ef4d6fd-aefe-41c7-b91a-9e4fa7aa1dd1map">
				  		<area shape="rect" coords="10,10,130,48" href="../views/b4a58a17-a562-4304-b735-3b37cc0d68d2.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="574,655,803,710" href="../elements/1e46e0dc-bace-4384-82fb-1cefcc8c1019.html"  target="element">
				  		<area shape="rect" coords="574,595,803,650" href="../elements/2338f3c2-1b8a-46ee-ad3a-a2d3df8b68ed.html"  target="element">
				  		<area shape="rect" coords="574,535,803,590" href="../elements/8cbc80b0-a79e-46c7-8a6a-2e73dab3a809.html"  target="element">
				  		<area shape="rect" coords="574,475,803,530" href="../elements/58a99b56-eb5d-4332-9f5b-c1128f45a835.html"  target="element">
				  		<area shape="rect" coords="574,407,803,462" href="../elements/d26bc51d-fdd8-4312-acea-e0753068a245.html"  target="element">
				  		<area shape="rect" coords="574,347,803,402" href="../elements/0c3307cf-3511-41e6-8fcf-02297a2a215a.html"  target="element">
				  		<area shape="rect" coords="574,287,803,342" href="../elements/9b28e794-249e-47c0-a941-10721e69dae5.html"  target="element">
				  		<area shape="rect" coords="574,227,803,282" href="../elements/d94ee067-4cee-4bb8-990b-ffeb30e158b1.html"  target="element">
				  		<area shape="rect" coords="574,167,803,222" href="../elements/60f75e3f-aba6-4550-b2d9-e8fd7307a2f5.html"  target="element">
				  		<area shape="rect" coords="574,107,803,162" href="../elements/d9c4f795-675e-4336-99ed-f9a5cf3e2ee8.html"  target="element">
				  		<area shape="rect" coords="574,47,803,102" href="../elements/f967827a-513b-450d-96bc-19db06c4a433.html"  target="element">
				  				<area shape="rect" coords="154,410,311,465" href="../elements/id-SWE.4.BP6.html"  target="element">
				  				<area shape="rect" coords="154,350,311,405" href="../elements/id-SWE.4.BP5.html"  target="element">
				  				<area shape="rect" coords="154,470,311,525" href="../elements/id-SWE.4.BP7.html"  target="element">
				  				<area shape="rect" coords="154,290,311,345" href="../elements/id-SWE.4.BP4.html"  target="element">
				  				<area shape="rect" coords="154,170,311,225" href="../elements/id-SWE.4.BP2.html"  target="element">
				  				<area shape="rect" coords="154,230,311,285" href="../elements/id-SWE.4.BP3.html"  target="element">
				  				<area shape="rect" coords="154,110,311,165" href="../elements/id-SWE.4.BP1.html"  target="element">

				  		<area shape="rect" coords="142,62,335,687" href="../elements/6d071fcf-9f7d-4f21-853e-52c445ad9483.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6d071fcf-9f7d-4f21-853e-52c445ad9483.html" target="element"> SWE.4 Software Unit Verification </a> </td>
											    <td> <a href="../elements/6d071fcf-9f7d-4f21-853e-52c445ad9483.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.4.BP1.html" target="element"> SWE.4.BP1:  Develop  software  unit  verification  strategy  including  </a> </td>
													    <td> <a href="../elements/id-SWE.4.BP1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.4.BP3.html" target="element"> SWE.4.BP3:  Perform  static  verification  of  software  units. </a> </td>
													    <td> <a href="../elements/id-SWE.4.BP3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.4.BP2.html" target="element"> SWE.4.BP2: Develop criteria for unit verification. </a> </td>
													    <td> <a href="../elements/id-SWE.4.BP2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.4.BP4.html" target="element"> SWE.4.BP4: Test software units. </a> </td>
													    <td> <a href="../elements/id-SWE.4.BP4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.4.BP7.html" target="element"> SWE.4.BP7: Summarize and communicate results. </a> </td>
													    <td> <a href="../elements/id-SWE.4.BP7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.4.BP5.html" target="element"> SWE.4.BP5: Establish bidirectional traceability. </a> </td>
													    <td> <a href="../elements/id-SWE.4.BP5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-SWE.4.BP6.html" target="element"> SWE.4.BP6:  Ensure  consistency. </a> </td>
													    <td> <a href="../elements/id-SWE.4.BP6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/f967827a-513b-450d-96bc-19db06c4a433.html" target="element"> GP 2.1.1 Identify the objectives for the performance of the process. </a> </td>
											    <td> <a href="../elements/f967827a-513b-450d-96bc-19db06c4a433.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d9c4f795-675e-4336-99ed-f9a5cf3e2ee8.html" target="element"> GP 2.1.2 Plan the performance of the process to fulfill the identified objectives. </a> </td>
											    <td> <a href="../elements/d9c4f795-675e-4336-99ed-f9a5cf3e2ee8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/60f75e3f-aba6-4550-b2d9-e8fd7307a2f5.html" target="element"> GP 2.1.3 Monitor the performance of the process against the plans. </a> </td>
											    <td> <a href="../elements/60f75e3f-aba6-4550-b2d9-e8fd7307a2f5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d94ee067-4cee-4bb8-990b-ffeb30e158b1.html" target="element"> GP 2.1.4 Adjust the performance of the process. </a> </td>
											    <td> <a href="../elements/d94ee067-4cee-4bb8-990b-ffeb30e158b1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9b28e794-249e-47c0-a941-10721e69dae5.html" target="element"> GP 2.1.5 Define responsibilities and authorities for performing the process.  </a> </td>
											    <td> <a href="../elements/9b28e794-249e-47c0-a941-10721e69dae5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0c3307cf-3511-41e6-8fcf-02297a2a215a.html" target="element"> GP 2.1.6 Identify, prepare, and make available resources to perform the process according to plan.  </a> </td>
											    <td> <a href="../elements/0c3307cf-3511-41e6-8fcf-02297a2a215a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d26bc51d-fdd8-4312-acea-e0753068a245.html" target="element"> GP 2.1.7 Manage  the  interfaces  between  involved  parties. </a> </td>
											    <td> <a href="../elements/d26bc51d-fdd8-4312-acea-e0753068a245.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/58a99b56-eb5d-4332-9f5b-c1128f45a835.html" target="element"> GP 2.2.1 Define  the  requirements  for  the  work  products.  </a> </td>
											    <td> <a href="../elements/58a99b56-eb5d-4332-9f5b-c1128f45a835.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8cbc80b0-a79e-46c7-8a6a-2e73dab3a809.html" target="element"> GP 2.2.2 Define the requirements for documentation and control of the work products. </a> </td>
											    <td> <a href="../elements/8cbc80b0-a79e-46c7-8a6a-2e73dab3a809.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2338f3c2-1b8a-46ee-ad3a-a2d3df8b68ed.html" target="element"> GP 2.2.3 Identify,  document  and  control  the  work  products. </a> </td>
											    <td> <a href="../elements/2338f3c2-1b8a-46ee-ad3a-a2d3df8b68ed.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1e46e0dc-bace-4384-82fb-1cefcc8c1019.html" target="element"> GP 2.2.4 Review  and  adjust  work  products  to  meet  the  defined requirements. </a> </td>
											    <td> <a href="../elements/1e46e0dc-bace-4384-82fb-1cefcc8c1019.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/b4a58a17-a562-4304-b735-3b37cc0d68d2.html" target="view"> ASPICE - PRJ X - Map </a> </td>
											    <td> <a href="../views/b4a58a17-a562-4304-b735-3b37cc0d68d2.html" target="view" class="i18n-viewpoint-motivation"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/8f1aeabf-3be9-4277-aa7f-177217d3ad21.html" target="element">  </a> </td>
																		<td> <a href="../elements/8f1aeabf-3be9-4277-aa7f-177217d3ad21.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d071fcf-9f7d-4f21-853e-52c445ad9483.html" target="element"> SWE.4 Software Unit Verification </a> </td>
																		<td> <a href="../elements/id-SWE.4.BP1.html" target="element"> SWE.4.BP1:  Develop  software  unit  verification  strategy  including  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/69d151d3-7a42-4cc6-a595-478d559d46e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/69d151d3-7a42-4cc6-a595-478d559d46e0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d071fcf-9f7d-4f21-853e-52c445ad9483.html" target="element"> SWE.4 Software Unit Verification </a> </td>
																		<td> <a href="../elements/id-SWE.4.BP3.html" target="element"> SWE.4.BP3:  Perform  static  verification  of  software  units. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c9952ac7-4f1e-495d-a0e6-d385fd4aad3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/c9952ac7-4f1e-495d-a0e6-d385fd4aad3d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d071fcf-9f7d-4f21-853e-52c445ad9483.html" target="element"> SWE.4 Software Unit Verification </a> </td>
																		<td> <a href="../elements/id-SWE.4.BP2.html" target="element"> SWE.4.BP2: Develop criteria for unit verification. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/41ab7c3c-865e-4e4e-a667-a1311c67d4ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/41ab7c3c-865e-4e4e-a667-a1311c67d4ba.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d071fcf-9f7d-4f21-853e-52c445ad9483.html" target="element"> SWE.4 Software Unit Verification </a> </td>
																		<td> <a href="../elements/id-SWE.4.BP4.html" target="element"> SWE.4.BP4: Test software units. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c2feb296-7569-463b-b71b-11231242b9aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2feb296-7569-463b-b71b-11231242b9aa.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d071fcf-9f7d-4f21-853e-52c445ad9483.html" target="element"> SWE.4 Software Unit Verification </a> </td>
																		<td> <a href="../elements/id-SWE.4.BP7.html" target="element"> SWE.4.BP7: Summarize and communicate results. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3e3f7ca4-307c-427a-80c1-e3b1f4a30f20.html" target="element">  </a> </td>
																		<td> <a href="../elements/3e3f7ca4-307c-427a-80c1-e3b1f4a30f20.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d071fcf-9f7d-4f21-853e-52c445ad9483.html" target="element"> SWE.4 Software Unit Verification </a> </td>
																		<td> <a href="../elements/id-SWE.4.BP5.html" target="element"> SWE.4.BP5: Establish bidirectional traceability. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/406c0487-87b3-4791-81aa-3e0c174da496.html" target="element">  </a> </td>
																		<td> <a href="../elements/406c0487-87b3-4791-81aa-3e0c174da496.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d071fcf-9f7d-4f21-853e-52c445ad9483.html" target="element"> SWE.4 Software Unit Verification </a> </td>
																		<td> <a href="../elements/id-SWE.4.BP6.html" target="element"> SWE.4.BP6:  Ensure  consistency. </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>